{% extends "base.jinja2" %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
    <h2 class="center">Login</h2>
    <!--suppress HtmlUnknownTarget -->
    <form action="/auth" method="post">
        <label for="username">Username: </label>
        <input type="text" name="username" id="username">
        {{ br(1) }}
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        {{ br(2) }}
        <input type="submit" class="center">
    </form>

    {% if error %}
        {{ br(1) }}
        You entered the incorrect {{ error }}.
    {% endif %}
{% endblock body %}